.bgvideo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.effect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.387);
}

.bgvideo .video-text {
    color: aquamarine;
    z-index: 2;
}

.bgvideo video{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}